<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Image Tool</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ImageOptimizer.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Offline Image Tool</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="px-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            Image Tool <button class="btn btn-link text-dark" data-bs-toggle="modal" data-bs-target="#infoModal"><span><i class="fa-solid fa-circle-info"></i></span></button>
        </div>
    </footer>


    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
             <h3>Offline Image Tool</h3>
                    <h6>Source : <a href="https://github.com/ashiquebzq/Image-Tool-Using-ASP-.NET">Image Tool - Github</a></h6>
             <h6>Used Libraries</h6>
                <ul>
                    <li>Magick.NET <a href="https://github.com/dlemstra/Magick.NET">Github</a></li>
                </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));



        $(document).ready(function () {


            updateRangeState();
            updateResizeState();
            updateConvertState();

            $('#currentValue').text($('#ImageQuality').val());

            // Attach change event to the range slider
            $('#ImageQuality').on('input', function () {
                // Update the text content of the element with the current value
                $('#currentValue').text($(this).val());
            });

            $('#checkCompress').on('change', function () {
                updateRangeState();
            });

            $('#checkResize').on('change', function () {
                updateResizeState();
            });

            $('#checkConvert').on('change', function () {
                updateConvertState();
            });

            function updateRangeState() {
                var isChecked = $('#checkCompress').is(':checked');
                $('#ImageQuality').prop('disabled', !isChecked);
            }

            function updateResizeState() {
                var isChecked = $('#checkResize').is(':checked');
                $('#ImgWidth').prop('disabled', !isChecked);
                $('#ImgHeight').prop('disabled', !isChecked);
            }

            function updateConvertState() {
                var isChecked = $('#checkConvert').is(':checked');
                $('#imageFormat').prop('disabled', !isChecked);
            }



        });


       

        

        $(document).on('change', '.file-input', function () {

            var textbox = $('.file-message');
            var filesCount = $(this)[0].files.length;


            if (filesCount === 1) {
                var fileName = $(this).val().split('\\').pop();
                textbox.text(fileName);
            } else {
                textbox.text(filesCount + ' files selected');
            }
            
        });

 

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>